* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./wallup-11038.jpg");
  background-position: center;
  background-size: cover;
}

.holder {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}

.div1 {
  position: absolute;
  background: white;
  width: 7.5px;
  height: 7.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div2 {
  position: absolute;
  background: white;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div3 {
  position: absolute;
  background: white;
  width: 22.5px;
  height: 22.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div4 {
  position: absolute;
  background: white;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div5 {
  position: absolute;
  background: white;
  width: 37.5px;
  height: 37.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div6 {
  position: absolute;
  background: white;
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div7 {
  position: absolute;
  background: white;
  width: 52.5px;
  height: 52.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div8 {
  position: absolute;
  background: white;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div9 {
  position: absolute;
  background: white;
  width: 67.5px;
  height: 67.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div10 {
  position: absolute;
  background: white;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div11 {
  position: absolute;
  background: white;
  width: 82.5px;
  height: 82.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div12 {
  position: absolute;
  background: white;
  width: 90px;
  height: 90px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div13 {
  position: absolute;
  background: white;
  width: 97.5px;
  height: 97.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div14 {
  position: absolute;
  background: white;
  width: 105px;
  height: 105px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div15 {
  position: absolute;
  background: white;
  width: 112.5px;
  height: 112.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div16 {
  position: absolute;
  background: white;
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div17 {
  position: absolute;
  background: white;
  width: 127.5px;
  height: 127.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div18 {
  position: absolute;
  background: white;
  width: 135px;
  height: 135px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div19 {
  position: absolute;
  background: white;
  width: 142.5px;
  height: 142.5px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}

.div20 {
  position: absolute;
  background: white;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 30px #000;
  border-radius: 50%;
}
